@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-padding {
    @apply px-8;
  }
  .wrapper {
    max-width: 600px;
    margin: auto;
  }
  @media screen and (min-width: 750px) {
    .wrapper {
      max-width: 650px;
    }
  }
  @media screen and (min-width: 1150px) {
    .wrapper {
      max-width: 950px;
    }
  }
  a {
    @apply underline-offset-4;
    @apply underline;
    @apply font-semibold;
    @apply cursor-pointer;
  }
  h3 {
    @apply text-base;
    @apply font-bold;
    @apply mb-3;
  }
}
