@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-padding {
    @apply px-4;
  }
  .wrapper {
    max-width: 600px;
    margin: auto;
  }
  @media screen and (min-width: 700px) {
    .wrapper {
      max-width: 800px;
    }
  }
  @media screen and (min-width: 1075px) {
    .wrapper {
      max-width: 1150px;
    }
  }
  a {
    @apply underline-offset-4;
    @apply underline;
    @apply font-semibold;
    @apply cursor-pointer;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #007298;
  }

  h2 {
    @apply font-extrabold;
    @apply text-teal;
    text-align: center;
  }

  h4 {
    @apply text-base;
    @apply font-bold;
    @apply mb-3;
  }

  .hero-text {
    margin-top: -12px !important;
  }

  .details li {
    margin-bottom: 4px;
  }

  .details li::before {
    display: inline-block;
    margin-right: 6px;
    transform: translateY(2px);
  }

  .box li::before {
    content: url(/images/box.png);
  }

  .check li::before {
    content: url(/images/check.png);
  }
  li {
    position: relative;
  }

  .pdf {
    position: relative;
    width: 100%;
    transform: translate(4px, -4px);
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .background {
    position: absolute;
    height: 76px;
    width: 100%;
    @apply bg-blue;
    transform: translate(0, 0px);
  }

  .pdf:active {
    transform: none;
  }

  .arrow {
    display: inline;
    margin-left: 10px;
    width: 16px;
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  .video-container iframe {
    width: 100%;
  }

  @media screen and (min-width: 1114px) {
    .videos-container {
      gap: 40px;
    }

    .video-container {
      display: "flex";
    }
  }
}
